@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');

* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

:root {
    --cinzaEscuro: #16171b;
    --cinzaClaro: #222327;
    --white:#f1efef;
    --vermelho: #bb432c;
  }
  

body {
    background-color: var(--cinzaEscuro);
    display: flex;
    justify-content: center;
}

.formularios {
    height: 740px;
    width: 430px;
    background-color: var(--cinzaClaro);
    margin-top: 10%;
}

.containerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    font-weight: 900;
    font-size: 18px;
    color: var(--white);
    padding-top: 10px;
}


.containerEmail, .containerSenha, .containerCpf, .containerNome, .containerData, .containerCel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}

.formularios .containerEmail label, .formularios .containerSenha label {
    font-size: 22px;
    margin-right:10px;
    display:none;
}

.formularios .containerEmail input,  .formularios .containerSenha input {
    border: none;
    color: var(--white);
    border-bottom: 1px solid #ccc;
    outline: none;
    height: 20px;
    font-size: 16px;
    background: none;
    width: 250px;
  }
  
.formularios input::placeholder {
    color: #999;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}
  
.formularios input:focus::placeholder {
    top: -20px;
    font-size: 12px;
    color: #333;
}
  

.formularios input {
    border: none;
    color: var(--white);
    border-bottom: 1px solid #ccc;
    outline: none;
    height: 20px;
    font-size: 16px;
    background: none;
    width: 250px;
}
  
.formularios  input::placeholder {
    color: #999;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}
  
.formularios  input:focus::placeholder {
    top: -20px;
    font-size: 12px;
    color: #333;
}

.botaoLogin {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botaoLogin button {
    color: var(--vermelho);
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--cinzaClaro);
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--vermelho);
}
  
.botaoLogin button:hover {
    background-color: var(--vermelho);
    color: var(--white);
}
  
.botaoLogin button:active {
  transform: translateY(1px);
}

.containerInputs {
    margin-bottom: 15%;
}
  

.configuracaoConta {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    font-size: medium;
    color: var(--white);
}

.configuracaoConta p {
    padding-bottom: 10px;
}

.configuracaoConta p:hover{
    text-decoration: underline;
}

@media screen and (max-width:500px){
    
    body { 

    }

    .formularios {
        height: 410px;
        width: 352px;
    }

    .containerText {
        font-size: larger;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='4' viewBox='0 0 6 4'%3E%3Cpath d='M3 4L0 0h6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 6px 4px;
    padding-right: 24px; /* adiciona um espaÃ§o para a seta personalizada */
  }
  
  /* estiliza o select */
  select {
    border: none;
    border-radius: 4px;
    padding: 8px 90px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
  }
  
  /* adiciona efeito hover */
  select:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* adiciona efeito focus */
  select:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* estiliza a seta personalizada quando o select estÃ¡ aberto */
  select:active,
  select:focus {
    background-position: right -12px center;
  }
