*{
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}

.logo{
    display:flex;
    width:55%;
}

header .logo img{
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 99;
    margin-top:-2%;
}
.bodyID{
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.headerID{
    width: 88%;
    padding-top: 20px;
    padding-bottom: 20px;
}
header .sectionHeader{
    display: flex;
    align-items:end;
    justify-content:end;
}

header .headerOptions{
    display: flex;
    align-items: center;
}

.headerOptions a{
    margin-left: 20px;
}

.headerOptions a p{
    color: #b6b6b6;
}

.headerOptions a p:hover{
    color: #cfcfcf;
}

.sectionLoginSearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4vw;
}

.loginEcadastro{
    display: flex;
}

.loginEcadastro a{
    background-color: red;
    padding: 8px 16px;
    border-radius: 3px;
}

.loginEcadastro a p{
    color: white;
}

.loginEcadastro a:hover{
    background-color: rgb(255, 24, 24);
}

.cadastro{
    margin-left: 20px;
}


@media screen and (max-width:500px){
    header .sectionHeader {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 10%;
    }

    header .headerOptions {
        display: flex;
        align-items: center;
        margin-bottom: 5%;
    }

    header .logo img {
        width: 120px;
        height: 120px;
        position: absolute;
        z-index: 99;
        margin-top: 10%;
        margin-left: -33%;
    }

}